<div class="container">
  <p class="text-center"><%= image_tag "logo.png", class: "logo"%>
<%#= render "devise/shared/links" %>
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                  Registro de Usuarios
            </header>
            <div class="panel-body">
                <div class="stepy-tab">
                    <ul id="default-titles" class="stepy-titles clearfix">
                        <li id="default-title-0" class="current-step">
                            <div>Paso 1</div>
                        </li>
                        <li id="default-title-1" class="">
                            <div>Paso 2</div>
                        </li>
                        <li id="default-title-2" class="">
                            <div>Paso 3</div>
                        </li>
                    </ul>
                </div>


  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),html: { class: 'form-horizontal',id: "default" }) do |f| %>
  <%= f.error_notification %>

        <fieldset title="Paso 1" class="step" id="default-step-0">
            <legend>Datos del usuario </legend>
            <div class="form-group">
              <label class="col-lg-2 control-label">Usuario</label>
              <div class="col-lg-6">
                <%= f.input :username, required: true, autofocus: true, label: false %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Correo Electronico</label>
              <div class="col-lg-6">
                <%= f.input :email, required: true, autofocus: true, label: false %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Password</label>
              <div class="col-lg-6">
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} caracteres minimos" if @minimum_password_length), label: false %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Confirmacion del password</label>
              <div class="col-lg-6">
                <%= f.input :password_confirmation, required: true , label: false%>
              </div>
            </div>

        </fieldset>

        <fieldset title="Paso 2" class="step" id="default-step-1" >
            <legend> Datos personales</legend>

            <div class="form-group">
                <label class="col-lg-2 control-label">Direccion</label>
                <div class="col-lg-6">
                  <%= f.input :address, required: true, autofocus: true,label: false %>
                </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">telefono movil</label>
              <div class="col-lg-6">
                  <%= f.input :phone_mobile, required: true, autofocus: true,label: false  %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">telefono de casa </label>
              <div class="col-lg-6">
                  <%= f.input :phone_home, required: true, autofocus: true,label: false%>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label">telefono del trabajo</label>
                <div class="col-lg-6">
                  <%= f.input :phone_work, required: true, autofocus: true,label: false %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label">fecha de nacimiento</label>
                <div class="col-lg-6">
                  <%= f.input :birth_date, required: true, autofocus: true,label: false%>
                </div>
              </div>

        </fieldset>


        <fieldset title="Paso 3" class="step" id="default-step-2" >
            <legend>Confirmacion</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label">Full Name</label>
                <div class="col-lg-10">
                    <p class="form-control-static">Tawseef Ahmed</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Email Address</label>
                <div class="col-lg-10">
                    <p class="form-control-static">tawseef@vectorlab.com</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">User Name</label>
                <div class="col-lg-10">
                    <p class="form-control-static">tawseef</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Phone</label>
                <div class="col-lg-10">
                    <p class="form-control-static">01234567</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Mobile</label>
                <div class="col-lg-10">
                    <p class="form-control-static">01234567</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Address</label>
                <div class="col-lg-10">
                    <p class="form-control-static">
                        Dreamland Ave, Suite 73
                        AU, PC 1361
                        P: (123) 456-7891 </p>

                        <%= f.label :humanizer_answer, @user.humanizer_question %>
                        <%= f.text_field :humanizer_answer %>
                        <%= f.hidden_field :humanizer_question_id %>

                </div>
            </div>
        </fieldset>

        <%= f.button :submit, "Registrarse",class: "finish btn btn-danger" %>

        <% end %>
            </div>
        </section>
    </div>
</div>
