<div class="container center">
  <p class="text-center"><%= image_tag "logo.png", class: "logo"%>
<%#= render "devise/shared/links" %>
    <div class="col-lg-12">
        <section class="panel">

            <div class="panel-body">
                <div class="stepy-tab">
                    <ul id="default-titles" class="stepy-titles clearfix">
                        <li id="default-title-0" class="current-step">
                            <div>Paso 1</div>
                        </li>
                        <li id="default-title-1" class="">
                            <div>Paso 2</div>
                        </li>
                        <li id="default-title-2" class="">
                            <div>Paso 3</div>
                        </li>
                    </ul>
                </div>


  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),html: { class: 'form-horizontal',id: "default" }) do |f| %>
  <%= devise_error_messages! %>

  <%= render 'devise/shared/messages' %>
        <fieldset title="Paso 1" class="step" id="default-step-0">
            <legend>Datos del usuario </legend>

            <div class="form-group">
              <label class="col-lg-2 control-label">Correo Electronico</label>
              <div class="col-lg-8">
                <%= f.input :email, required: true, autofocus: true, label: false %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Password</label>
              <div class="col-lg-8">
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} caracteres minimos" if @minimum_password_length), label: false %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Confirmacion del password</label>
              <div class="col-lg-8">
                <%= f.input :password_confirmation, required: true , label: false%>
              </div>
            </div>

        </fieldset>

        <fieldset title="Paso 2" class="step" id="default-step-1" >
            <legend> Datos personales</legend>
            <div class="form-group">
                <label class="col-lg-2 control-label">Nombre</label>
                <div class="col-lg-8">
                  <%= f.input :name, required: true, autofocus: true,label: false %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Apellido</label>
                <div class="col-lg-8">
                  <%= f.input :lastname, required: true, autofocus: true,label: false %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">DNI</label>
                <div class="col-lg-8">
                  <%= f.input :dni, required: true, autofocus: true,label: false %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Pais</label>
                <div class="col-lg-8">
                  <%= f.input :country, priority: [ "Peru" ], collection: [ "Chile", "Peru"],required: true, autofocus: true,label: false,placeholder: "Selecciona tu pais de origen" %>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">Direccion</label>
                <div class="col-lg-8">
                  <%= f.input :address, required: true, autofocus: true,label: false %>
                </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">telefono movil</label>
              <div class="col-lg-8">
                  <%= f.input :phone_mobile, required: true, autofocus: true,label: false  %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">telefono de casa </label>
              <div class="col-lg-8">
                  <%= f.input :phone_home, required: true, autofocus: true,label: false%>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label">telefono del trabajo</label>
                <div class="col-lg-8">
                  <%= f.input :phone_work, required: true, autofocus: true,label: false %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label">fecha de nacimiento</label>
                <div class="col-lg-8">

                  <%= f.input :birth_date, label: false,  as: :date, start_year: Date.today.year - 90,
                             end_year: Date.today.year - 12,order: [:day,:month, :year]%>
                  <%#= f.input :birth_date , required: true, autofocus: true,label: false,  as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, discard_day: false,
                              order: [:day,:month, :year],:wrapper_html => { :style => 'display: inline' } %>
                </div>
              </div>
        </fieldset>


        <fieldset title="Paso 3" class="step" id="default-step-2" >
            <legend>Confirmacion</legend>


            <div class="form-group">
                <label class="col-lg-2 control-label">Comprobacion</label>
                <div class="col-lg-8">
                  <%= f.label :humanizer_answer, @user.humanizer_question %>
                  <%= f.input :humanizer_answer, label: false %>
                  <%= f.hidden_field :humanizer_question_id %>

                </div>
            </div>

        </fieldset>

        <%= f.button :submit, "Registrarse",class: "finish btn btn-danger" %>

        <% end %>


            </div>

<script>
$(document).ready(function(){
  $("#default-step-2").click(function(){
  });
});
</script>

        </section>
    </div>
</div>
