<section class="panel">
<p id="notice"><%= notice %></p>
<div class="col-sm-12">
  <header class="panel-heading">
    Listado de Prealertas
  </header>


  <table class="table table-striped border-top" id="sample_2">
  <thead>
    <tr>
      <th><i class="icon-bullhorn"></i> Numero box</th>
      <th class="hidden-phone">Courier</th>
      <th> # Tracking </th>
      <th> Tienda</th>
      <th> Precio</th>
      <th> Fecha creacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prealerts.each do |prealert| %>
      <tr>
        <td><%= prealert.box_track%> </td>
        <td class="hidden-phone"><%= prealert.curier%></td>
        <td><%= prealert.tracking_number%></td>
        <td><%= prealert.shop %></td>
        <td><%= prealert.value_price %>$</td>
        <td><%= prealert.created_at.strftime("%d/%m/%Y")%> </td>
        <td>
        <%= link_to prealert do %>
            <button class="btn btn-success btn-xs"><i class="icon-ok"></i></button>
        <%end%>
        <%= link_to edit_prealert_path(prealert) do%>
            <button class="btn btn-primary btn-xs"><i class="icon-pencil"></i></button>
        <%end %>
        <%= link_to prealert ,method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button class="btn btn-danger btn-xs"><i class="icon-trash "></i></button>
        <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to  new_prealert_path ,class: "btn btn-shadow btn-success" do %>
    <i class="icon-plus-sign"></i> Prealerta tu paquete
<% end -%>
</div>
<br>

</section>
