<section class="panel">
<p id="notice"><%= notice %></p>
<div class="col-sm-12">

<h1>Listing Prealerts</h1>

<table class="table table-striped table-advance table-hover">
  <thead>
    <tr>
      <th><i class="icon-bullhorn"></i>Numero box</th>
      <th class="hidden-phone"><i class="icon-question-sign"></i>Courier(Tracking)</th>
      <th><i class="icon-bookmark"></i> Tienda</th>
      <th><i class=" icon-edit"></i> Precio</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prealerts.each do |prealert| %>
      <tr>
        <td><%= prealert.box_track%> </td>
        <td class="hidden-phone"><%= prealert.curier+" (#{prealert.tracking_number})" %></td>
        <td><%= prealert.shop %></td>
        <td><%= prealert.value_price %></td>
        <td>
        <%= link_to prealert do %>
            <button class="btn btn-success btn-xs"><i class="icon-ok"></i></button>
        <%end%>
        <%= link_to edit_prealert_path(prealert) do%>
            <button class="btn btn-primary btn-xs"><i class="icon-pencil"></i></button>
        <%end %>
        <%= link_to prealert ,method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button class="btn btn-danger btn-xs"><i class="icon-trash "></i></button>
        <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to  new_prealert_path ,class: "btn btn-shadow btn-success" do %>
    <i class="icon-plus-sign"></i> Prealerta tu paquete
<% end -%>
</div>
<br>

</section>
