<section class="panel">

<div class="panel-heading black-bg">
   Prealerta
</div>
<br>
   <div class="col-lg-12">
        <p>
          <strong>Numero de Box:</strong> <%= @prealert.box_track%>
        </p>
        <p>
          <strong>Numero de Tracking:</strong> <%= @prealert.tracking_number %>
        </p>
        <p>
          <strong>Courier:</strong> <%= @prealert.curier.upcase %>
        </p>
        <p>
          <strong>Tienda donde fue comprado:</strong> <%= @prealert.shop %>
        </p>
        <p>
          <strong>Costo del paquete:</strong> <%= @prealert.value_price %>$
        </p>
        <p>
          <strong>Descripcion:</strong> <%= @prealert.description %>
        </p>
        <p>
          <div class="row">
            <div class="col-lg-2">
            <%= image_tag @prealert.image.url(:thumb),border: 1  if !@prealert.image.nil?%> <%# NOTE: tengo que arreglar esto %>
            </div>
            <div class="col-lg-2">
            <%= image_tag @prealert.image2.url(:thumb) if !@prealert.image2.nil?%>
            </div>

          </div>

        </p>
        <%= link_to  edit_prealert_path(@prealert) ,class: "btn btn-shadow btn-info" do %>
            <i class="icon-pencil"></i> Editar
        <% end -%>


        <%= link_to  prealerts_path, class: "btn btn-shadow btn-warning" do %>
          <i class=" icon-arrow-left"></i> Volver
        <% end %>

    </div>
    <br />

</section>
