
<div class="panel-heading black-bg">
   Detalle del paquete <b>#<%= @prealert.box_track%></b>
</div>
<br>

              <div class="row">
                  <div class="col-lg-6">
                      <section class="panel">
                        <header class="panel-heading">
                          Informacion General
                          </header>
                          <div class="panel-body">
                               <div class="bio">
                                 <p><span>Consignatario:</span> <b> <%= current_user.name.upcase %> <%= current_user.lastname.upcase %></b></p>
                                 <p><span>Fecha de prealerta:</span> <%= @prealert.created_at.strftime("%d/%m/%Y - %I:%M")%></p>
                                 <p><span>Agencia de Envio:</span><b> <%= @prealert.curier.upcase %></b></p>
                                 <p><span>Courier Traking:</span> <b><%= @prealert.tracking_number %></b></p>
                                 <p><span>Lugar de compra:</span> <b><%= @prealert.shop %></b></p>
                                 <p><span>Descripcion:</span><b> <%= @prealert.description.upcase %></b></p>
                                 <p><span>Valor declarado:</span> $ <b><%= @prealert.value_price %></b> USD</p>
                             </div>


                          </div>
                      </section>
                      <section class="panel">
                        <header class="panel-heading">
                          Archivos Adjuntos
                          </header>
                          <div class="panel-body">
                               <div class="bio">
                                 <p>
                                    <span><%= "<i class='icon-paper-clip'></i>".html_safe if !@prealert.image.nil? %><%= link_to @prealert.image.to_s.split("/").last , @prealert.image.to_s  if !@prealert.image.nil?%></span>
                                 </p>
                                 <p>
                                   <span><i class="icon-paper-clip"></i><%= link_to @prealert.image2.to_s.split("/").last , @prealert.image2.to_s  if !@prealert.image.nil?%></span>
                                 </p>
                                 <%#= link_to image_tag(@prealert.image.url(:thumb), class: "img-thumbnail"), "#myModal", :data =>{:toggle=>"modal",$i=>"1"} if !@prealert.image.nil?%>
                                 <%#= link_to image_tag(@prealert.image2.url(:thumb), class: "img-thumbnail"), "#myModal", :data =>{:toggle=>"modal"} if !@prealert.image.nil?%>

                               </div>
                          </div>
                      </section>
                  </div>

                  <div class="col-lg-6">
                      <section class="panel">
                        <header class="panel-heading">
                          Cargos
                          </header>

                          <div class="panel-body"> </div>
                      </section>
                  </div>
              </div>
              <%#= link_to image_tag(@prealert.image.url(:thumb), class: "img-thumbnail"), "#myModal", :data =>{:toggle=>"modal",$i=>"1"} if !@prealert.image.nil?%>
              <%#= link_to image_tag(@prealert.image2.url(:thumb), class: "img-thumbnail"), "#myModal", :data =>{:toggle=>"modal"} if !@prealert.image.nil?%>
        </p>
        <%= link_to  edit_prealert_path(@prealert) ,class: "btn btn-shadow btn-info" do %>
            <i class="icon-pencil"></i> Editar
        <% end -%>


        <%= link_to  prealerts_path, class: "btn btn-shadow btn-warning" do %>
          <i class=" icon-arrow-left"></i> Volver
        <% end %>

    </div>
    <br />




                              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" style="width:auto">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                              <h4 class="modal-title">Modal Tittle</h4>
                                          </div>
                                          <div class="modal-body">
                                            <%= image_tag(@prealert.image2.url) if !@prealert.image2.nil?%>

                                          </div>
                                          <div class="modal-footer">
                                              <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                                          </div>
                                      </div>
                                  </div>
