<section class="panel">

<div class="panel-heading black-bg">
   Prealerta
</div>
<br>
   <div class="col-lg-12">
     <p>
       <strong>Numero de Box:</strong>
       <%= @prealert.box_track%>
     </p>
        <p>
          <strong>Numero de Tracking:</strong>
          <%= @prealert.tracking_number %>
        </p>

        <p>
          <strong>Courier:</strong>
            <%= @prealert.curier.upcase %>
        </p>

        <p>
          <strong>Tienda donde fue comprado:</strong>
          <%= @prealert.shop %>
        </p>

        <p>
          <strong>Costo del paquete:</strong>
          <%= @prealert.value_price %>$
        </p>

        <p>
          <strong>Descripc  ion:</strong>
          <%= @prealert.description %>
        </p>

        <%= link_to 'Editar', edit_prealert_path(@prealert) %> |
        <%= link_to 'Volver', prealerts_path %>
    </div>

</section>
