<div class="container">
  <p class="text-center"><%= image_tag "logo.png", class: "logo"%>
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'form-signin',method: :post }) do |f| %>
  <h2 class="form-signin-heading">Olvidaste tu clave de acceso? </h2>
</h2>
    <div class="login-wrap">
       <%= render 'devise/shared/messages' %>
       Introduce el correo electronico con el cual te registraste
       <br />
             <%= f.input :email, required: true, autofocus: true,label:false,  placeholder:'Correo electronico'  %>
 	<br />
      <%= f.button :submit, "Continuar" ,class: "btn btn-lg btn-login btn-block"%>
      <%= render "devise/shared/links" %>
      </p>
    </div>
  <% end %>

</div>
