<div class="row">
    <aside class="profile-nav col-lg-3">
        <section class="panel">
            <div class="user-heading round bg-warning">
                <a href="#">
                  <%= image_tag "admin/profile-avatar.jpg"%>

                </a>
                <h1><%=  current_user.name if !current_user.name.to_s.empty?  %>
                    <%=  current_user.lastname  if !current_user.lastname.to_s.empty?%></h1>
                <p><%=current_user.email%></p>
            </div>

            <ul class="nav nav-pills nav-stacked">
                <li><a href="profile-activity.html"> <i class="icon-calendar"></i> Actividad Reciente <span class="label label-danger pull-right r-activity">9</span></a></li>
                <li>
                  <li><%= link_to edit_user_registration_path do %>
                        <i class="icon-edit"></i>Editar perfil</a>
                      <% end %>
                  </li>
            </ul>

        </section>
    </aside>
    <aside class="profile-info col-lg-9">
        <section class="panel">
            <form>
                <textarea placeholder="Whats in your mind today?" rows="2" class="form-control input-lg p-text-area"></textarea>
            </form>
            <footer class="panel-footer">
                <button class="btn btn-danger pull-right">Post</button>
                <ul class="nav nav-pills">
                    <li>
                        <a href="#"><i class="icon-map-marker"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-camera"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class=" icon-film"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="icon-microphone"></i></a>
                    </li>
                </ul>
            </footer>
        </section>
        <section class="panel">
       <div class="panel-heading black-bg">
         Listado de prealertas activos
        </div>
          <table class="table table-striped border-top" id="sample_2">
          <thead>
          <tr>
              <th>

              </th>
              <th>Boxtrack</th>
              <th class="hidden-phone">Courier Number</th>
              <th class="hidden-phone">Courier</th>
              <th class="hidden-phone">Fecha Act.</th>
              <th class="hidden-phone">Tipo de Envio</th>
          </tr>
          </thead>
          <tbody>
            <% if !@prealerts.blank? %>
              <% for item in @prealerts %>
              <tr class="odd gradeX">
                 <td>

                 </td>
                  <td><%= item.box_track%></td>
                  <td class="hidden-phone"><%= item.tracking_number%></td>
                  <td class="hidden-phone"><%= item.curier%></td>
                  <td class="center hidden-phone"><%= item.updated_at.strftime("%d/%m/%Y") %></td>
                  <td class="hidden-phone"><span class="label label-success">Approved</span></td>
              </tr>

              <% end %>
            <% else %>
              No existen prealertas registrados
            <% end %>


          </tbody>
          </table>




        </section>


        <section class="panel">

                          <div class="panel-body">
                          <%= link_to  new_prealert_path ,class: "btn btn-shadow btn-success" do %>
                              <i class="icon-plus-sign"></i> Prealerta tu paquete
                          <% end -%>
               <!-- <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                                  <div class="modal-dialog col12 ">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                              <h4 class="modal-title">Pre alerta tus pedidos</h4>
                                          </div>
                                          <div class="modal-body">

                                              <form role="form">
                                                  <div class="form-group">
                                                      <label for="exampleInputEmail1">Email address</label>
                                                      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
                                                  </div>
                                                  <div class="form-group">
                                                      <label for="exampleInputPassword1">Password</label>
                                                      <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                                                  </div>
                                                  <div class="form-group">
                                                      <label for="exampleInputFile">File input</label>
                                                      <input type="file" id="exampleInputFile3">
                                                      <p class="help-block">Example block-level help text here.</p>
                                                  </div>
                                                  <div class="checkbox">
                                                      <label>
                                                          <input type="checkbox"> Check me out
                                                      </label>
                                                  </div>
                                                  <button type="submit" class="btn btn-default">Submit</button>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>-->


                          </div>
                      </section>

    </aside>








</div>
