<div class="row">
    <aside class="profile-nav col-lg-4">
        <section class="panel">
            <div class="user-heading round bg-warning">
                <a href="#">
                  <%= image_tag "admin/profile-avatar.jpg"%>

                </a>
                <h1><%=  current_user.name if !current_user.name.to_s.empty?  %>
                    <%=  current_user.lastname  if !current_user.lastname.to_s.empty?%></h1>
                <p><%=current_user.email%></p>
            </div>

            <ul class="nav nav-pills nav-stacked">
                <li>
                  <li><%= link_to edit_user_registration_path do %>
                        <i class="icon-edit"></i>Editar perfil</a>
                      <% end %>
                  </li>
            </ul>
        </section>
          <div class="panel">
          <div class="follower">
             <div class="panel-body">
                 <h4 >Al realizar una compra usa los siguientes datos(shipping)</h4>
             </div>
             </div>
             <footer class="follower-foot">
               - Nombre del comprador: <strong><%= current_user.name if !current_user.name.to_s.empty? %> <%= current_user.lastname if !current_user.lastname.to_s.empty?%> <%=current_user.account_number %></strong><br />
               - Direccion: <strong><%= @ship.address %></strong><br />
               - Ciudad: <strong><%= @ship.city%> </strong><br />
               - Estado: <strong><%=@ship.state%></strong><br />
               - Codigo Zip: <strong> <%= @ship.zip%> </strong><br />
               - Pais: <strong><%=@ship.country%></strong><br />
               - Telefono: <strong><%= @ship.phone %></strong><br />
             </footer>
          </div>
    </aside>

    <aside class="profile-info col-lg-8">
      <% if !notice.blank? %>
      <div class="alert alert-info fade in">
        <button data-dismiss="alert" class="close close-sm" type="button">
          <i class="icon-remove"></i>
        </button>
        <%= notice %>
      </div>
      <%end%>

    <section class="panel">
      <div class="panel-body">
      <%= link_to  new_prealert_path ,class: "btn btn-lg btn-shadow btn-success btn-block" do %>
          <i class="icon-plus-sign"></i> Prealerta tu paquete
      <% end -%>
      </div>
    </section>

    <section class="panel">
       <div class="panel-heading black-bg">
         Listado de prealertas activos
        </div>
        <div class="panel-body">
          <table class="table table-striped border-top border-bottom border-right border-left" id="sample_2">
          <thead>
          <tr>
              <th>Boxtrack</th>
              <th class="hidden-phone">Courier Number</th>
              <th class="hidden-phone">Descripcion</th>
              <th class="hidden-phone">Actualizacion</th>
              <th class="hidden-phone">Estado</th>
          </tr>
          </thead>
          <tbody>
            <% if !@prealerts.blank? %>
              <% for item in @prealerts %>
              <tr class="odd gradeX">
                  <td>
                      <%= link_to prealert_path(item.id) do%>
                        <%= item.box_track%>
                      <% end%>
                  </td>
                  <td class="hidden-phone">
                    <%= link_to "http://www.17track.net/es/track?nums=#{item.tracking_number}" , :target => "_blank" do %>
                      <%= item.tracking_number %>
                    <% end %>
                  </td>
                  <td class="hidden-phone"><%= item.description%></td>
                  <td class="center hidden-phone"><%= "#{" estado"}"%></td>
                  <td class="hidden-phone">
                  <%= link_to prealert_path(item.id) do %>
                    <button class="btn btn-success btn-xs"><i class="icon-ok"></i></button>
                  <%end%>
                  </td>
              </tr>

              <% end %>
            <% else %>
            <% end %>


          </tbody>
          </table>

</div>


        </section>


        <section class="panel">

        </section>

    </aside>








</div>
