<div class="row">

    <aside class="profile-nav col-lg-4">
        <section class="panel">
            <div class="user-heading round bg-warning">
                <a href="#">
                  <%= image_tag "admin/profile-avatar.jpg"%>

                </a>
                <h1><%=  current_user.name if !current_user.name.to_s.empty?  %>
                    <%=  current_user.lastname  if !current_user.lastname.to_s.empty?%></h1>
                <p><%=current_user.email%></p>
            </div>

            <ul class="nav nav-pills nav-stacked">
                <li>
                  <li><%= link_to edit_user_registration_path do %>
                        <i class="icon-edit"></i>Editar perfil</a>
                      <% end %>
                  </li>
            </ul>

        </section>


    </aside>
    <aside class="profile-info col-lg-8">
      <% if !notice.blank? %>
      <div class="alert alert-info fade in">
        <button data-dismiss="alert" class="close close-sm" type="button">
          <i class="icon-remove"></i>
        </button>
        <%= notice %>
      </div>
      <%end%>

    <section>
            <div class="row">
                <div class="col-lg-8">
                  <div class="panel">
                  <div class="follower">
                     <div class="panel-body">
                         <h4 >Al realizar una compra usa los siguientes datos(shipping)</h4>
                     </div>
                     </div>
                     <footer class="follower-foot">
                       <li>Nombre del comprador: <strong><%= current_user.name if !current_user.name.to_s.empty? %> <%= current_user.lastname if !current_user.lastname.to_s.empty?%> <%= current_user.country.upcase[0..1]+""+current_user.account_number %></strong></li>
                       <li>Direccion: <strong><%= @ship.address %></strong></li>
                       <li>Ciudad: <strong><%= @ship.city%> </strong></li>
                       <li>Estado: <strong><%=@ship.state%></strong></li>
                       <li>Codigo Zip: <strong> <%= @ship.zip%> </strong></li>
                       <li>Pais: <strong><%=@ship.country%></strong></li>
                       <li>Telefono: <strong><%= @ship.phone %></strong></li>

                     </footer>
                  </div>
                </div>
                  <div class="col-lg-4">
                        <div class="panel">
                              <div class="follower">
                                 <div class="panel-body">
                                   <h4>Registra tu prealerta</h4>
                                 </div>
                              </div>
                              <footer class="follower-foot">

                              <p>

                                Haz click sobre el boton prealertar tu paquete en el boton que aparece debajo y rellena el formulario.
                              <br>  <center> <%= image_tag "/uploads/21088.png" %></center>
</p>
                              </footer>
                            </div>
                        </div>



              </div>
    </section>

    <section class="panel">

                      <div class="panel-body">
                      <%= link_to  new_prealert_path ,class: "btn btn-lg btn-shadow btn-success btn-block" do %>
                          <i class="icon-plus-sign"></i> Prealerta tu paquete
                      <% end -%>
                      </div>
                  </section>

        <section class="panel">
       <div class="panel-heading black-bg">
         Listado de prealertas activos
        </div>
          <table class="table table-striped border-top" id="sample_2">
          <thead>
          <tr>
              <th>

              </th>
              <th>Boxtrack</th>
              <th class="hidden-phone">Courier Number</th>
              <th class="hidden-phone">Courier</th>
              <th class="hidden-phone">Actualizacion</th>
              <th class="hidden-phone">Estado</th>
          </tr>
          </thead>
          <tbody>
            <% if !@prealerts.blank? %>
              <% for item in @prealerts %>
              <tr class="odd gradeX">
                 <td>

                 </td>
                  <td><%= item.box_track%></td>
                  <td class="hidden-phone"><%= item.tracking_number%></td>
                  <td class="hidden-phone"><%= item.curier%></td>
                  <td class="center hidden-phone"><%= item.updated_at.strftime("%d/%m/%Y") %></td>
                  <td class="hidden-phone"><span class="label label-success">Approved</span></td>
              </tr>

              <% end %>
            <% else %>
            <% end %>


          </tbody>
          </table>




        </section>


        <section class="panel">

        </section>

    </aside>








</div>
