<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name) ,html: { class: 'form-signin' }) do |f| %>
    <h2 class="form-signin-heading"><p class="text-center"><%= image_tag "logo.png"%></p>
</h2>
    <div class="login-wrap">
      <%= f.input :username, required: false, autofocus: true,label:false,  placeholder:'Nombre de usuario' %>
      <br />
      <%= f.input :password, required: false,label: false,placeholder:'********'  %>

        <!--<label class="checkbox">
           <span class="pull-right">
            <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable?  %>
          </span>
        </label>-->
      <%= f.button :submit, "entrar" ,class: "btn btn-lg btn-login btn-block"%>
          <%= render "devise/shared/links" %>
      </p>
    </div>

  <% end %>

</div>
