<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @ship.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @ship.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @ship.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @ship.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @ship.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @ship.phone %>
</p>

<%= link_to 'Edit', edit_ship_path(@ship) %> |
<%= link_to 'Back', ships_path %>
