<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html>
<head>
  <meta charset="utf-8">
  <!-- Basic -->
  <meta name="author" content="kw0lf.org">
  <meta name="keywords" content="Courier,Transport,Peru">
  <meta name="description" content="Expressbox logistic ">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>
  <!-- HEADER
  ============================================= -->
  <header id="header">

    <div class="navbar navbar-fixed-top">
      <div class="container">

        <!-- Logo & Responsive Menu -->
        <div class="navbar-header">
          <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#top-page-banner"><%= image_tag "logo.png" ,alt: "logo",role:"banner"%></a>
        </div>	<!-- /.navbar-header -->

        <!-- Navigation -->
        <nav id="navigation-menu" class="collapse navbar-collapse"  role="navigation">
          <ul class="nav navbar-nav navbar-right">
          <li><a id="GoToHome" class="selected-nav" href="#intro">Home</a></li>
          <li><a id="GoToAbout" href="#about-1">Nosotros</a></li>
          <li><a id="GoToAbout" href="#about-2">Tracking</a></li>
          <li><a id="GoToFeatures" href="#features">Como importar</a></li>
          <li><a id="GoToFaq" href="#faq">Contactos</a></li>

          <% if user_signed_in? %>
               <li><%= link_to('Mi express box', box_index_path)%></li>
           <% else %>
            <li><%= link_to('Login', new_user_session_path)  %></li>
          <% end %>
          </li>
          </ul>
        </nav>	<!-- /.navbar-collapse -->

      </div>	<!-- /.container -->
    </div>	<!-- /.navbar -->

  </header>	 <!-- END HEADER -->

<%= yield %>

</body>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
